*{
    overflow: visible;
}
.contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    width: 100vw;
    height: 82vh;
    background-image: url('../../../assets/images/pergaminofondo.png');
    background-size: 100%;
    background-position: center;
}

.texto {
    width: 40vw;
    height: 60vh;    
}

.texto p {
    font-family: 'fable';
    font-size: 1.2rem;
    text-indent: 1.5rem;
    letter-spacing: .1rem;
    font-style: italic;
    font-weight: bold;
    color: var(--bluemain)
}

.registro {
    width: 30vw;
    height: 62vh;
    background-color: var(--bluemain);
    border: 0.8vh solid var(--redmain);
    border-radius: 1vh;
    position: relative;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 58.4vh;
    padding-top: 4vh;
    padding-bottom: 2vh;
}

.formContainer a {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--textMain)
}
.input_container_nombre{
    width: 30vw;
    display: flex;
    justify-content: center;
    position: relative;

}
.input_container_email{
    width: 30vw;
    display: flex;
    justify-content: center;
    position: relative;
    
}
.input_container_pass{
    width: 30vw;
    display: flex;
    justify-content: center;
    position: relative;
    
}
.input_container_pass2{
    width: 30vw;
    display: flex;
    justify-content: center;
    position: relative;
}
.verify{
    position: absolute;
    right: 4.6vh;
    top:0;
    bottom: 0;
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    background-color: aliceblue;
    margin:auto;
    visibility: hidden;
}

.error{
    position: absolute;
    right: 4.6vh;
    top:0;
    bottom: 0;
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    background: rgb(232,68,60);
    background: radial-gradient(circle, rgba(232,68,60,1) 33%, rgba(163,76,80,1) 46%);
    margin:auto
} 
.valid{
    position: absolute;
    left: 4.6vh;
    top:0;
    bottom: 0;
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    background: rgb(1,124,1);
    background: radial-gradient(circle, rgba(1,124,1,1) 31%, rgba(9,112,4,1) 46%);
    margin:auto
}

.formContainer input {
    width: 20vw;
    height: 6vh;
    padding: 0 1vw;
    background-color: var(--inputBg);
    color: white;
    font-size: 1.6rem;
    border-style: none;
    border-radius: 0.8vh;
    border: .5vh solid var(--redmain);
}

.formContainer input::placeholder {
    color: var(--placeHolder);    
}

.formContainer button {    
    border-style: none;
    padding: 0 3vw;
    font-size: 1.8rem;
    color: var(--textMain);
    background-color: var(--redmain);
    border-radius: 0.8vh;    
    -webkit-text-stroke: 0.05rem black;
}

.formContainer button:active {
    box-shadow: 0 0 10px black;
}

.formContainer button:hover {
    filter: brightness(1.1);
  }

.bad_request{
    color: red;  
    position: absolute;
    bottom: 0;
    display: none;
    font-size: 1.3rem;
  }