.padre{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-image: url(../../../assets/images/pergamine2.png);
    background-size: cover;
    position: relative;
    width: auto;
    height: 35vh;
    border: 0.5rem solid var(--bluemain);
}

.selector{ 
    width: 100%;
    margin-top: 20px;
}

.selector form{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px; 
}

.contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: visible;
    width: 100%;
    height: 12vh;
    margin-bottom: 1rem;
    margin-top: 1rem;    
}

.dados{ 
    width: auto;
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}
.d6{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0%;
    padding: 0%;
    width: 10vw;
}

.d6 img{
    width: 50%;
    height: auto;
}

.caja{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0%;
    padding: 0%;
    width: 10vw;
}

.caja img{
    width: 50%;
    height: auto;
}

.valor{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: transparent;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    display: block;
    position: absolute;
    top: 29%;
    left: 45%;
}

.valor:focus{
    outline: none;
}

.footer{
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: auto;
    width: auto;
}

.boton{
    cursor: pointer;
    margin: 0.5rem;
    text-align: center;
    width: auto;
    height: 2rem;
    font-size: 1rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    color: var(--textMain);
    background-color: var(--redmain);
    border-radius: 0.8vh;
    border-style: none;
    -webkit-text-stroke: 0.05rem black;
}

.boton:hover{
    box-shadow: 0 0 10px lightyellow;
}

.result{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: rgba(128, 128, 128, 0.342);
    font-size: 2rem;
    color: var(--bluemain);
    text-align: center;
    width: 5vw;
    height: 6.5vh;
}

.botonCerrar{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 2%;
    left: 97%;
}