<div class="contenedor">

    <div class="chatMensajes">
        <div #mensajes class="mensajes">
            <ng-container *ngFor="let item of mcs.mensajesChat, let i = index">
                <div *ngIf="nuevaFecha(item.fecha, i)" class="mensaje fecha">
                    <p class="noselect">{{item.fecha | date}}</p>
                </div>
                <div class="mensaje" [ngClass]="{'yo': us.user.name == item.emisor}">
                    <p class="noselect" [ngStyle]="{'background-color':'#00ff0018'}">
                        <span [ngStyle]="{'color': getColorEmisor(item.emisor)}">{{item.emisor}}: </span>
                        {{item.mensaje}}
                    </p>
                </div>
                <ng-container [ngClass]="(i == mcs.mensajesChat.length -1) ? scrollAbajo(mensajes) : ''"></ng-container>
            </ng-container>
        </div>
        <div class="enviarMensaje">
            <input #mensaje (keyup)="enviarMensaje(mensaje, $event.keyCode)" type="text" class="inputMensaje"
                placeholder="Introduzca Mensaje...">
            <button (click)="enviarMensaje(mensaje)" class="botonEnviar">Enviar</button>
        </div>
    </div>

    <div class="chatPlayers">
        <div class="master">
            <div
                [ngClass]="(ps.master.escribiendo) ? 'playerWriting' : '' || (ps.master.name == us.user.name && !ps.master.escribiendo) ? 'masterBorder' : ''">
                <span [ngStyle]="{'color': getColorEmisor(ps.master.name)}">MASTER > {{ps.master.name}}</span>
            </div>
        </div>
        <div class="players">
            <ng-container *ngFor="let item of ps.players, let i = index">
                <div
                    [ngClass]="(item.escribiendo) ? 'playerWriting' : '' || (item.name == us.user.name && !item.escribiendo) ? 'playerBorder' : ''">
                    <span [ngStyle]="{'color': getColorEmisor(item.name)}">{{item.name}}</span>
                </div>
            </ng-container>
        </div>
        <div class="lanzarDados">
            <button (click)="modalDados(veloModalDados, true)" class="botonDados">Tirar dados</button>
        </div>
    </div>
</div>


<div #veloModalDados class="veloModalDados">
    <app-dados (onEnviarValor)="valorAchat($event, veloModalDados)"></app-dados>
</div>