<div class="contenedor">

    <div class="chatMensajes">
        <div #mensajes class="mensajes">
            <ng-container *ngFor="let item of arrayMensajes, let i = index"
                [ngClass]="(i == arrayMensajes.length -1) ? scrollAbajo(mensajes) : ''">
                <div *ngIf="nuevaFecha(item.fecha, i)" class="mensaje fecha">
                    <p class="noselect">{{item.fecha | date}}</p>
                </div>
                <div class="mensaje" [ngClass]="{'yo': miUsuario == item.emisor}">
                    <p class="noselect" [ngStyle]="{'background-color': getColorEmisor(item.emisor) + '12'}">
                        <span [ngStyle]="{'color': getColorEmisor(item.emisor)}">{{item.emisor}}: </span>
                        {{item.mensaje}}
                    </p>
                </div>
            </ng-container>
        </div>
        <div class="enviarMensaje">
            <input #mensaje (keyup)="enviarMensaje(mensaje, $event.keyCode)" type="text" class="inputMensaje"
                placeholder="Introduzca Mensaje...">
            <button (click)="enviarMensaje(mensaje)" class="botonEnviar">Enviar</button>
        </div>
    </div>

    <div class="chatPlayers">
        <div class="players">
            <ng-container *ngFor="let item of arrayUsuarios">
                <div *ngIf="item != '[System]'">
                    <span [ngStyle]="{'color': getColorEmisor(item)}">{{item}}</span>
                </div>
            </ng-container>
        </div>
        <div class="lanzarDados">
            <button (click)="modalDados(veloModalDados, true)" class="botonDados">Tirar dados</button>
        </div>
    </div>
</div>


<div #veloModalDados class="veloModalDados">
    <app-dados (onEnviarValor)="valorAchat($event, veloModalDados)"></app-dados>
</div>