<header class="headChar"></header>
<main class="main_char_container">
  <article class="character_selection">
    <div class="title_container"><p>Choose your hero</p></div>

    <section class="set_characters">
      <div
        tabindex="0"
        #container
        *ngFor="let character of this.characters; let i = index;"
        (click)="
          showCharacter(
            character,
            rasgos,
            ideales,
            vinculos,
            defectos,
            name,
            img,
            fuerzaMod,
            fuerza,
            intMod,
            int,
            dexMod,
            dex,
            sabMod,
            sab,
            constMod,
            constitucion,
            carMod,
            car,
            speed,
            armor,
            iniciativa,
            golpe,
            dados,
            equipo,
            i,
            button
          )
        "
        [ngClass]="this.characterService.charactersInGame.includes(i+1) ? 'img_container_disabled':'img_container'">
        <img src="{{ character.image }}" alt="" />
        <div #sombra class="sombra"></div>
      </div>
    </section>
  </article>
  <article class="character_specs">
    <section class="character_stats">
      <div class="stats1">
        <div class="stat">
          <div id="name"><p>Fuerza</p></div>
          <p #fuerzaMod class="value">?</p>
          <div #fuerza class="circle">?</div>
        </div>
        <div class="stat">
          <div id="name"><p>Inteligencia</p></div>
          <p #intMod class="value">?</p>
          <div #int class="circle">?</div>
        </div>
        <div class="stat">
          <div id="name"><p>Destreza</p></div>
          <p #dexMod class="value">?</p>
          <div #dex class="circle">?</div>
        </div>
        <div class="stat">
          <div id="name"><p>Sabiduria</p></div>
          <p #sabMod class="value">?</p>
          <div #sab class="circle">?</div>
        </div>
        <div class="stat">
          <div id="name"><p>Constitución</p></div>
          <p #constMod class="value">?</p>
          <div #constitucion class="circle">?</div>
        </div>
        <div class="stat">
          <div id="name"><p>Carisma</p></div>
          <p #carMod class="value">?</p>
          <div #car class="circle">?</div>
        </div>
        <div class="stat">
          <div id="name"><p>Velocidad</p></div>
          <p #speed class="value">?</p>
        </div>
        <div class="stat">
          <div id="name"><p>Armadura</p></div>
          <p #armor class="value">?</p>
        </div>
        <div class="stat">
          <div id="name"><p>Iniciativa</p></div>
          <p #iniciativa class="value">?</p>
        </div>
      </div>
      <div class="imgStats">
        <img
          #img
          class="imagen"
          src="../../../assets/images/characters/personajeMisterioso.jpg"
          alt=""
        />
        <p #name></p>
      </div>
      <div class="stats2">
        <div class="statAlt">
          <div id="stats2_title">Puntos de Golpe</div>
          <p #golpe>?</p>
        </div>
        <div class="statAlt">
          <div id="stats2_title">Dados de golpe</div>
          <p #dados>?</p>
        </div>
        <div class="statAlt">
          <div id="stats2_title">Equipo</div>
          <div class="equipo" #equipo>
            <p>?</p>
            <p>?</p>
          </div>
        </div>
      </div>
    </section>
    <section class="character_lore">
      <header class="lore_title">
        <p>Lore</p>
      </header>
      <div class="loreBody">
        <div #lore class="lore_contain">
          <div class="lore_section">
            <p>Rasgos Personales:</p>
            <div #rasgos>¿Y tu quien eres? No se donde estoy ni que hago</div>
          </div>
          <div class="lore_section">
            <p>Ideales:</p>
            <div #ideales>
              Cuando crees que dejas algo en el mundo el conjunto crece y lo
              absorbe hasta que solo es un punto y desaparece...
            </div>
          </div>
          <div class="lore_section">
            <p>Vinculos:</p>
            <div #vinculos>
              No puedo evitar mirar por mí y por los míos, al fin y al cabo, son
              una prolongación de mí mismo pero...¿Quien soy?
            </div>
          </div>
          <div class="lore_section">
            <p>Defectos:</p>
            <div #defectos>Vamos a dejarlo...</div>
          </div>
        </div>
      </div>

      <button class="up" #up (click)="loreScrollUp(lore, up, down)" disabled>
        <i class="fas fa-angle-double-up"></i>
      </button>
      <button class="down" #down (click)="loreScrollDown(lore, up, down)">
        <i class="fas fa-angle-double-down"></i>
      </button>
    </section>
    <div class="button_container">
      <button class="button" routerLink="/campaing">Regresar</button>
      <button (click)="postPlayer()" #button [ngClass]="button.disabled == true ? 'button_disabled' : 'button'" disabled >Elegir</button>
    </div>
  </article>
</main>
