<footer class="pie">
   <div class="social">
      <a class="iconoSocial facebook" href="https://es-es.facebook.com/" target="_blank">
         <i class="fa-brands fa-facebook"></i>
      </a>
      <a class="iconoSocial instagram" href="https://www.instagram.com/?hl=es" target="_blank">
         <i class="fa-brands fa-instagram-square"></i>
      </a>
      <a class="iconoSocial linkedin" href="https://es.linkedin.com" target="_blank">
         <i class="fa-brands fa-linkedin"></i>
      </a>
   </div>
   <div class="copyright">
      <span>2022 - © Dungeons & Coders- Todos los derechos reservados</span>
   </div>
      <a class="creditos" routerLink="/creditos">Creditos</a>
</footer>