.pie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 8vh;
  background-color: var(--bluemain);
  color: var(--textMain);
  padding: 0 1.5vw 0 1vw;
}

.social {
  display: flex;
  align-items: center;
  height: 100%;
}

.social a {
  text-decoration: none;
  padding: 0 .75vw;
}

.iconoSocial {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
}

.facebook {
  color: rgb(6, 118, 228);
}

.facebook:hover {
  color: rgb(84, 160, 236);
  transform: scale(1.2) rotate(360deg);
}

.instagram {
  color: rgb(195, 48, 93);
}

.instagram:hover {
  color: rgb(212, 85, 123);
  transform: scale(1.2) rotate(360deg);
}

.linkedin {
  color: rgb(49, 134, 231);
}

.linkedin:hover {
  color: rgb(87, 154, 231);
  transform: scale(1.2) rotate(360deg);
}

.copyright {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  height: 100%;
}

.creditos {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2vw;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--textMain);
}

.creditos:hover {
  background-color: var(--redmain);
}


