<app-header></app-header>

<main class="contenedor">
    <div class="menu">
        <picture class="fotoPerfil">
            <img [src]="urlAvatar" alt="Foto perfil">
        </picture>
        <div class="opciones">
            <a (click)="activarOpcion(1)" [ngClass]="{'opcionActiva': opcionActiva == 1}">Detalles de la cuenta</a>
            <a (click)="activarOpcion(2)" [ngClass]="{'opcionActiva': opcionActiva == 2}">Tus campañas</a>
            <a (click)="modalAvatar(veloModalAvatar, true)" [ngClass]="{'opcionActiva': opcionActiva == 3}">Cambiar Avatar</a>
            <a routerLink="">Cerrar sesión</a>
        </div>
    </div>
    <div *ngIf="detalles" class="detalles">
        <div class="personales">
            <label class="titulo">Información personal</label>
            <div class="perCuerpo">
                <label class="perLabel1">Nombre de usuario</label>
                <label class="perLabel2">{{user.name}}</label>
                <label class="perLabel1">Correo electrónico</label>
                <label class="perLabel2">{{user.email}}</label>
            </div>
        </div>
        <div class="password">
            <label class="titulo">Modificar contraseña</label>
            <form>
                <div class="pasCuerpo">
                    <label class="pasLabel">Antigua contraseña</label>
                    <input #oldPass class="pasInput" type="password">
                    <label class="pasLabel">Nueva contraseña</label>
                    <input (keyup)="validatePassword(newPass)" #newPass class="pasInput" type="password">
                    <label class="pasLabel">Repetir contraseña</label>
                    <input (keyup)="validatePassword2(newPass,newPass2)"  #newPass2 class="pasInput" type="password">
                    <button (click)="changePass(oldPass,newPass,newPass2,verify)" class="botonCambiar" type="button">Cambiar</button>
                </div>
            </form>
            <div #verify class="verify"><p>Tu contraseña ha sido actualizada correctamente</p></div>
        </div>
    </div>
    <div *ngIf="!detalles" class="campaigns">
        <div class="fila1">
            <span class="columna1tit">Campaña</span>
            <span class="columna2tit">Rol</span>
        </div>
        <div class="campaignsCuerpo">
            <table class="tabla">
                <tr class="filas">
                    <td class="columna1">Lorem ipsum dolor sit</td>
                    <td class="columna2">Master</td>
                    <td class="columna3"><button routerLink="/master" class="botonEntrar" type="button">Entrar</button></td>
                </tr>
                <tr class="filas">
                    <td class="columna1">Consectetur adipisicing elit</td>
                    <td class="columna2">Player</td>
                    <td class="columna3"><button routerLink="/player" class="botonEntrar" type="button">Entrar</button></td>
                </tr>
                <tr class="filas">
                    <td class="columna1">Voluptates aut vero tempore</td>
                    <td class="columna2">Master</td>
                    <td class="columna3"><button routerLink="/master" class="botonEntrar" type="button">Entrar</button></td>
                </tr>
                <tr class="filas">
                    <td class="columna1">Alias velit qui dolor</td>
                    <td class="columna2">Player</td>
                    <td class="columna3"><button routerLink="/player" class="botonEntrar" type="button">Entrar</button></td>
                </tr>
                <tr class="filas">
                    <td class="columna1">Voluptates aut vero tempore</td>
                    <td class="columna2">Player</td>
                    <td class="columna3"><button routerLink="/player" class="botonEntrar" type="button">Entrar</button></td>
                </tr>
             
            </table>
        </div>
    </div>
</main>

<div #veloModalAvatar class="veloModalAvatar">
    <div class="modalAvatar">
        <button (click)="modalAvatar(veloModalAvatar, false)" class="closeModal">
            <i class="fa-solid fa-square-xmark closeModal"></i>
        </button>

        <ng-container *ngFor="let avatar of arrayAvatares, let i = index">
            <picture (click)="seleccionarAvatar(i)" class="avatar" [ngClass]="{'avatarSeleccionado': indiceAvatarSeleccionado == i}">
                <img [src]="avatar" alt="Avatar">
            </picture>
        </ng-container>

        <button (click)="elegirAvatar(veloModalAvatar)" class="botonElegir"
            [disabled]="!avatarSeleccionado">Elegir</button>
    </div>
</div>

<app-footer></app-footer>