<app-header></app-header>
<div class="contenedor" >
  <div class="cuerpo">
      <div  class="left">
          <div class="letrero"  [style.backgroundImage]="'url('+ letrero +')' ">
              <p>Campañas activas</p>
          </div>
          <div class="tablon">
              <div style="display: flex; align-items: center; justify-content: center; border: 5px solid black; height: 100%;" >
                  <table class="table">
                      <thead>
                        <tr>
                          <th  style="width: 30%;">Master</th>
                          <th >Campaña</th>
                        </tr>
                      </thead>
                      <tbody>
                        
                      </tbody>
                    </table>
              </div>
              
          </div>
      </div>
      <div  class="right" >
        <div>
          <img class="img-fluid" src="../../../assets/images/barman2.png" alt="">
        </div>
      </div>
  </div>
</div>
<app-footer></app-footer>