<div class="container-fluid" style="border: 5px solid black; height: 48rem;">
    <div id="header" class="row" style="border: 3px solid green; height: 20%;">
        <div class="cartel">

        </div>
    </div>
    <div id="body" class="row" style="border: 3px solid red; height: 80%;">
        <div class="col-2" style="border: 3px solid blue; width: 50%;">
            <div class="letrero"  [style.backgroundImage]="'url('+ letrero +')' ">
                <p>Campañas activas</p>
            </div>
            <div class="tablon">
                <div style="display: flex; align-items: center; justify-content: center; border: 5px solid black; height: 100%;" >
                    <table class="table">
                        <thead>
                          <tr>
                            <th  style="width: 30%;">Master</th>
                            <th >Campaña</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Mark</td>
                            <td>Otto</td>
                          </tr>
                          <tr>
                            <td>Jacob</td>
                            <td>Thornton</td>
                          </tr>
                          <tr>
                            <td>Larry the Bird</td>
                            <td>@twitter</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
                
            </div>
        </div>
        <div class="col-2" style="border: 3px solid purple; width: 50%;">

        </div>
    </div>
</div>