<app-header></app-header>

<div class="contenedor" >
    <!-- <div id="header" class="row">
        <div class="cartel">
          <img class="img-fluid" src="../../../assets/images/cartel.png">
        </div>
    </div> -->
    <div class="cuerpo">
        <div  class="left">
            <div class="letrero"  [style.backgroundImage]="'url('+ letrero +')' ">
                <p>Campañas activas</p>
            </div>
            <div class="tablon">
                <div style="display: flex; align-items: center; justify-content: center; border: 5px solid black; height: 100%;" >
                    <table class="table">
                        <thead>
                          <tr>
                            <th  style="width: 30%;">Master</th>
                            <th >Campaña</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Mark</td>
                            <td>Campaña 1</td>
                          </tr>
                          <tr>
                            <td>Jacob</td>
                            <td>Campaña 2</td>
                          </tr>
                          <tr>
                            <td>Larry the Bird</td>
                            <td>Campaña 3</td>
                          </tr>
                          <tr>
                            <td>Perry</td>
                            <td>Campaña 4</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
                
            </div>
        </div>
        <div  class="right" >
          <div>
            <img class="img-fluid" src="../../../assets/images/barman.png" alt="">
          </div>
        </div>
    </div>
</div>

<app-footer></app-footer>