.contenedor{
    background: url(../../../assets/images/wall.png) repeat center center;
    height: 82vh;
    width: 100vw;
    overflow: hidden;
}


.cartel
{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.cartel img{
    width: 30vh;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
}

.letrero{
    border:3px solid black; 
    position: absolute;
    top: 7%; 
    left: 45%; 
    margin-top: -2rem; 
    width: 13rem; 
    height: 3rem; 
    border-radius: 5px;
    background-color: rgba(102, 52, 5, 0.897);
    /* background: url(../../../assets/images/letrero.png) no-repeat center center ; */
    background-image: url(../../../assets/images/letrero.png);
    background-position: center;
    background-size: 150% 150%;
    font-size: 1.5rem;
    text-align: center;
    color: var(--beige);
}

.left{
    height: 70vh;
    position: relative;
}

.tablon
{
    border-radius: 5px; 
    border: 8px solid rgb(133, 66, 11);
    margin-top: 2rem;
    height: 55vh; 
    margin-left: 8rem;
    width: 40vw;
    font-family: 'dwarf';
    font-size: 1rem;
    /* background: url(../../../assets/images/205192.png) repeat center center; */
    background-image: url(../../../assets/images/205192.png);
    background-size: 100% 100%;
    background-blend-mode:darken;
}

.table
{
    /* border: 20px transparent black; */
    /* padding: 20px; */
    border-collapse: separate;
    border-spacing: 1vw 1vh;
}

.table th
{
    background: var(--bluemainT);
    border-bottom: 0.5vh solid var(--redmain);
    margin: 10px;
    color: var(--beige);
    font-size: 1.5rem;
    font-weight: normal;  
}

.table td
{
    background: rgba(99, 98, 98, 0.685);
    margin: 10px;
    border-radius: 20px 0 20px 0;
    font-weight: normal;
    color: var(--beige);
}

.right{
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    align-content: flex-end;
    width: 40vw;
    margin: 0;
    padding: 0;
    height: 75vh;    
}

.right img{
    margin: 0;
    max-width: 100%;
    height: auto;
}

.cuerpo{
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}