.cabecera {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: var(--bluemain);
  padding: 0 0 0 1vw;
  position: sticky;
  top:0;
  z-index: 2;
  
}

.logodyc {
  display: flex;
  align-items: center;
  height: 100%;
  width: auto;
}

.logodyc img {
  height: 90%;
  width: auto;
  /* filter: brightness(1.1); */
}

.navHeader {
  height: 100%;
}

.navList {
  display: flex;
  justify-items: center;
  padding-left: 0;
  height: 100%;
  width: 27vw;
}

.navItem {
  width: 9vw;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  font-size: 2rem;
  height: 100%;
  
}

.navItem:hover {
  background-color: var(--redmain);
}

.navItem a {
  text-decoration: none;
  color: var(--textMain);
}

.navItemAlt{
  width: 9vw;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  font-size: 2rem;
  height: 100%;
  background-color: var(--redmain);
}
