<header class="cabecera">
  <div class="sala">
    <div>
      Código de sala:
      <span>{{codigoSala}}<span (click)="copyCode(confirmCopy)"><i class="fas fa-copy"></i></span><div id="copyClip"> <p #confirmCopy>Copiar código</p> 
        <div></div>
      </div>
    </span>
      
    </div>
    
  </div>
  <div class="navbar_contenedor">
    <div *ngIf="this.router.url == '/master'" class="pausar">Pausar</div>
    <div
      *ngIf="this.router.url == '/master'"
      (click)="modalFinalizar(veloModalFinalizar, true)"
      class="opcion"
    >
      Finalizar
    </div>
    <div *ngIf="this.router.url == '/player'" class="opcion">Abandonar</div>
  </div>
</header>

<!-- Modal finalizar campaña -->
<div #veloModalFinalizar class="veloModalFinalizar">
  <div class="modalFinalizar">
    <button
      (click)="modalFinalizar(veloModalFinalizar, false)"
      class="closeModal"
    >
      <i class="fa-solid fa-square-xmark closeModal"></i>
    </button>
    <div class="modalResumen">
      <div class="texto">
        <span>¡ Advertencia !</span>
        <p>
          Si pulsa <b>Finalizar campaña</b> esta será eliminada definitivamente
          de la plataforma y no podrá ser accesible desde ese momento.
        </p>
        <p>
          Le recomendamos <b>Guardar historial</b> de la campaña para disponer
          de una copia de todos los mensajes del chat a modo de resumen del
          desarrollo de la campaña.
        </p>
      </div>
    </div>
    <div class="modalOpciones">
      <button routerLink="/perfil" class="botonModal">Finalizar campaña</button>
      <button class="botonModal">Guardar historial</button>
    </div>
  </div>
</div>
