<header class="cabecera">
  <div class="sala">
    <span class="codigoSala">Código de sala:</span>
    <span class="codigo">
      <p>{{campaignService.actualCampaign.idCampaign}}</p><span class="code_copy" (click)="copyCode(confirmCopy)">
        <i class="fas fa-copy"></i></span>
      <div id="copyClip">
        <p #confirmCopy>Copiar código</p>
        <div>
        </div>
      </div>
    </span>
  </div>
  <div class="navbar_contenedor">
    <ng-container *ngIf="this.router.url == '/master'">
      <div *ngIf="!campaignService.actualCampaign.closed" (click)="startCampaign(veloModalMinimo)" class="pausar">Iniciar</div>
      <div routerLink="/perfil" class="pausar">Salir</div>
      <div (click)="modal(veloModalFinalizar, true)" class="opcion">Finalizar</div>
    </ng-container>
    <div *ngIf="this.router.url == '/player'" routerLink="/perfil" class="opcion">Salir</div>
    <div *ngIf="this.router.url == '/player'" (click)="modal(veloModalAbandonar, true)" class="opcion">Abandonar</div>
  </div>
</header>

<!-- Modal finalizar campaña -->
<div #veloModalFinalizar class="veloModalFinalizar">
  <div class="modalFinalizar">
    <button (click)="modal(veloModalFinalizar, false)" class="closeModal">
      <i class="fa-solid fa-square-xmark closeModal"></i>
    </button>
    <div class="modalResumen">
      <div class="texto">
        <span>¡ Advertencia !</span>
        <p>
          Si pulsa <b>Finalizar campaña</b> esta será eliminada definitivamente
          de la plataforma y no podrá ser accesible desde ese momento.
        </p>
        <p>
          Le recomendamos <b>Guardar historial</b> de la campaña para disponer
          de una copia de todos los mensajes del chat a modo de resumen del
          desarrollo de la campaña.
        </p>
      </div>
    </div>
    <div class="modalOpciones">
      <button (click)="endCampaign()" class="botonModal">Finalizar campaña</button>
      <button (click)="guardarHistorial()" class="botonModal">Guardar historial</button>
    </div>
  </div>
</div>

<!-- Modal abandonar campaña -->
<div #veloModalAbandonar class="veloModalAbandonar">
  <div class="modalAbandonar">
    <div class="modalResumen">
      <div class="texto">
        <span>¡ Advertencia !</span>
        <p>
          Si pulsa <b>Abandonar campaña</b> y esta ya fue iniciada, será eliminado de ella definitivamente sin opción de volver a
          retomarla.
        </p>
        <span>¿Desea abandonar la campaña?</span>
      </div>
    </div>
    <div class="modalOpciones">
      <button (click)="leaveCampaign()" class="botonModal">Abandonar campaña</button>
      <button (click)="modal(veloModalAbandonar, false)" class="botonModal">Volver</button>
    </div>
  </div>
</div>

<!-- Modal minimo campaña -->
<div #veloModalMinimo class="veloModalAbandonar">
  <div class="modalAbandonar">
    <button (click)="modal(veloModalFinalizar, false)" class="closeModal">
      <i class="fa-solid fa-square-xmark closeModal"></i>
    </button>
    <div class="modalResumen">
      <div class="texto">
        <span>¡ Advertencia !</span>
        <p>
          Actualmente hay <b>{{campaignService.actualCampaign.numPlayer}}</b> jugador/es apuntado/s y el mínimo para
          esta campaña es de <b>{{campaignService.actualCampaign.playerMin}}</b> jugadores. No puede iniciar la campaña
          hasta que se cumpla el mínimo de jugadores exigido.
        </p>
      </div>
    </div>
    <div class="modalOpciones">
      <button (click)="modal(veloModalMinimo, false)" class="botonModal">Cerrar</button>
    </div>
  </div>
</div>