.cabecera {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 8vh;
    background-color: var(--bluemain);
  }
  .navbar_contenedor{
    display: flex;
  }
  .sala{
    position: relative;
    overflow: visible;
    display: flex;
    width: 23vw;
   
    height: 8vh;
  }
  .codigoSala{
    display: flex;
    color: white;
    height: 8vh;
    width: 13vw;
    
    justify-content: center;
    align-items: center;
  }
  .codigo{
    
    color: var(--redmain);
    height: 8vh;
    width: 10vw;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 1vh;
  }
  .codigo p{
    margin: 0;
  }
  .code_copy{
    font-size: 1.6rem;
  }
  .code_copy:hover{
    
    color: var(--beige);
  }
  .code_copy:hover + #copyClip{
    visibility: visible;
    
  }
  #copyClip{
    width:  10vw;
    height: 5vh;
    position: absolute;
    top:1vh;
    right: calc(100vw * -0.105);
    background-color: var(--beige);
    border-radius: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    color: black;
    font-size: 1.4rem;
    visibility: hidden;
  }
  #copyClip p{
    margin: 0;
    color: black;
    padding-left: 1vw;
    padding-right: 1vw;
  
  }
  #copyClip div{
    position: absolute;
    width: 1.5vh;
    height: 1.5vh;
    transform: rotateZ(45deg);
    left: -0.5vh;
    background-color: var(--beige);
  }
 
  
  .sala, .pausar, .opcion {
      display: flex;
      align-items: center;
      height: 8vh;
      font-size: 2rem;
      color: var(--textMain);
      cursor: pointer;
  }

  .pausar, .opcion {
      padding: 0 2vw;
  }
  .pausar {
    margin-left: auto;
  }

  .pausar:hover, .opcion:hover {
    background-color: var(--redmain);
  }
 

/* Modales */
.veloModalFinalizar {
  display: none;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
}

.modalFinalizar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 70vw;
  height: 60vh;
  margin-top: 15vh;
}
.veloModalFinalizar {
  display: none;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
}

.modalFinalizar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 70vw;
  height: 60vh;
  margin-top: 15vh;
}

.veloModalAbandonar {
  display: none;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
}

.modalAbandonar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 70vw;
  height: 60vh;
  margin-top: 15vh;
}

.modalResumen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  background-image: url('../../../assets/images/pergamine2.png');
  background-size: 100% 100%;
}

.modalOpciones {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: var(--redmain);
}

.texto {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: auto;    
}

.texto span {
  font-family: 'fable';
  font-size: 2rem;
  letter-spacing: .1rem;
  font-style: italic;
  font-weight: bold;
  align-self: center;
  width: 100%;
  text-align: center;
  margin-bottom: 3vh;
  color: var(--redmain);
}

.texto p {
  font-family: 'fable';
  font-size: 1.5rem;
  text-indent: 1.5rem;
  letter-spacing: .075vw;
  font-style: italic;
  font-weight: bold;
  color: var(--bluemain);
}

.closeModal {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  width: 1.8vw;
  height: 1.8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  color: var(--bluemain);
  background-color: rgba(0, 0, 0, 0);
}

.botonModal { 
  border: 0.25vw solid whitesmoke;
  background: transparent;
  color: whitesmoke;
  font-size: 1.8rem;
  text-align: center;
  padding: 0 3vw;
  border-radius: .75vw;
  opacity: 0.7;
  letter-spacing: .075vw;
}

.botonModal:hover {
  opacity: 1;
}




