<article class="container_main">
  <section>
    <p>Acrobacias</p>
    <p>{{this.characterService.character.acrobatic | transformAtt}}</p>
  </section>
  <section>
    <p>Atletismo</p>
    <p>{{this.characterService.character.athletics | transformAtt}}</p>
  </section>
  <section>
    <p>Arcana</p>
    <p>{{this.characterService.character.arcana | transformAtt}}</p>
  </section>
  <section>
    <p>Engaño</p>
    <p>{{this.characterService.character.deception | transformAtt}}</p>
  </section>
  <section>
    <p>Historia</p>
    <p>{{this.characterService.character.history | transformAtt}}</p>
  </section>
  <section>
    <p>Actuación</p>
    <p>{{this.characterService.character.performance | transformAtt}}</p>
  </section>
  <section>
    <p>Intimidación</p>
    <p>{{this.characterService.character.intimidation | transformAtt}}</p>
  </section>
  <section>
    <p>Investigación</p>
    <p>{{this.characterService.character.investigation | transformAtt}}</p>
  </section>
  <section>
    <p>Juego de manos</p>
    <p>{{this.characterService.character.sleightOfHand | transformAtt}}</p>
  </section>
  <section>
    <p>Medicina</p>
    <p>{{this.characterService.character.medicine | transformAtt}}</p>
  </section>
  <section>
    <p>Naturaleza</p>
    <p>{{this.characterService.character.nature | transformAtt}}</p>
  </section>
  <section>
    <p>Percepción</p>
    <p>{{this.characterService.character.perception | transformAtt}}</p>
  </section>
  <section>
    <p>Intuición</p>
    <p>{{this.characterService.character.insight | transformAtt}}</p>
  </section>
  <section>
    <p>Religión</p>
    <p>{{this.characterService.character.religion | transformAtt}}</p>
  </section>
  <section>
    <p>Sigilo</p>
    <p>{{this.characterService.character.stealth | transformAtt}}</p>
  </section>
  <section>
    <p>Supervivencia</p>
    <p>{{this.characterService.character.survival | transformAtt}}</p>
  </section>
  <section>
    <p>Animales</p>
    <p>{{this.characterService.character.animalHandling | transformAtt}}</p>
  </section>
</article>
