<article class="container_main">
  <section>
    <p>Acrobacias</p>
    <p>{{this.characters[3].acrobatic | transformAtt}}</p>
  </section>
  <section>
    <p>Atletismo</p>
    <p>{{this.characters[3].athletics | transformAtt}}</p>
  </section>
  <section>
    <p>Arcana</p>
    <p>{{this.characters[3].arcana | transformAtt}}</p>
  </section>
  <section>
    <p>Engaño</p>
    <p>{{this.characters[3].deception | transformAtt}}</p>
  </section>
  <section>
    <p>Historia</p>
    <p>{{this.characters[3].history | transformAtt}}</p>
  </section>
  <section>
    <p>Actuación</p>
    <p>{{this.characters[3].performance | transformAtt}}</p>
  </section>
  <section>
    <p>Intimidación</p>
    <p>{{this.characters[3].intimidation | transformAtt}}</p>
  </section>
  <section>
    <p>Investigación</p>
    <p>{{this.characters[3].investigation | transformAtt}}</p>
  </section>
  <section>
    <p>Juego de manos</p>
    <p>{{this.characters[3].sleightOfHand | transformAtt}}</p>
  </section>
  <section>
    <p>Medicina</p>
    <p>{{this.characters[3].medicine | transformAtt}}</p>
  </section>
  <section>
    <p>Naturaleza</p>
    <p>{{this.characters[3].nature | transformAtt}}</p>
  </section>
  <section>
    <p>Percepción</p>
    <p>{{this.characters[3].perception | transformAtt}}</p>
  </section>
  <section>
    <p>Intuición</p>
    <p>{{this.characters[3].insight | transformAtt}}</p>
  </section>
  <section>
    <p>Religión</p>
    <p>{{this.characters[3].religion | transformAtt}}</p>
  </section>
  <section>
    <p>Sigilo</p>
    <p>{{this.characters[3].stealth | transformAtt}}</p>
  </section>
  <section>
    <p>Supervivencia</p>
    <p>{{this.characters[3].survival | transformAtt}}</p>
  </section>
  <section>
    <p>Animales</p>
    <p>{{this.characters[3].animalHandling | transformAtt}}</p>
  </section>
</article>
