.contenedor {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    width: 100vw;
    height: 90vh;
    padding-top: 10vh;
    background-image: url('../../../assets/images/tavern-2.jpg');
    background-size: 100% 100%;
}

.campaings {
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: auto;
    overflow: hidden;
}

.titulo {
    background-color: rgba(163, 76, 80, .85);
    color: var(--textMain);
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    height: 6vh;
    padding: 0 2vh;
}

.resumen {
    width: 45vw;
    height: 65vh;
    background-color: rgba(196, 196, 196, 0.2);
}

.resumenCuerpo {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--textMain);
    width: 100%;
    height: 59vh;
    overflow-y: scroll;
}

.campaingItem {
    background-color: rgba(196, 196, 196, 0.2);
    color: var(--textMain);
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    height: 6vh;
    padding: 0 2vh;
    margin-top: 2vh;
    cursor: pointer;
}

.campaingItem:hover {
    background-color: rgba(196, 196, 196, 0.5);
}

.volver {
    position: absolute;
    left: 5vw;
    bottom: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7vw;
    height: 3vw;
    border: 0.25vw solid whitesmoke;
    background: none;
    color: whitesmoke;
    font-size: 1.5rem;
    text-align: center;
    border-radius: .75vw;
    opacity: 0.7;
    letter-spacing: .1vw;    
}

.crear {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 4vh;
    width: 9vw;
    height: 5vw;
    border: 0.25vw solid whitesmoke;
    background: none;
    color: whitesmoke;
    font-size: 2rem;
    text-align: center;
    border-radius: .75vw;
    opacity: 0.7;
    letter-spacing: .1vw;
}

.iniciar {
  border-style: none;
  width: 15vw;
  height: 7vh;
  font-size: 2rem;
  color: var(--textMain);
  background-color: var(--redmain);
  border-radius: 0.8vh;
  -webkit-text-stroke: 0.05rem black;
}

.iniciar:active {
  box-shadow: 0 0 10px black;
}

.iniciar:hover {
  filter: brightness(1.1);
}

.volver:hover, .crear:hover, .iniciar:hover {
    opacity: 1;
}


/* Modal crear */
.veloModalCrear {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
}

.modalOpciones {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 25vw;
    height: 40vh;
    background-image: url('../../../assets/images/pergamine.jpg');
    background-size: 100% 100%;
    border: .75vh solid var(--bluemain);
}

.closeModal {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    width: 1.8vw;
    height: 1.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    color: var(--bluemain);
    background-color: rgba(0, 0, 0, 0);
  }

  .textSwitch {
    color: var(--bluemain);
    font-size: 1.5rem;
    margin: 0 1vw;
  }

/* Select players */
.selectPlayers {
  width: 15vw;
  height: 5vh;
  font-size: 1.2rem;
  background-color: var(--bluemain);
  color: var(--textMain);
  padding: 0 1vw;
}

/* Switch tipo partida */
.divSwitch {
  display: flex;
  align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 3vw;
    height: 1.7vw;
  }

  .inputPublica {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--redmain);
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 1.3vw;
    width: 1.3vw;
    left: 0.2vw;
    bottom: 0.2vw;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .inputPublica:checked + .slider {
    background-color: var(--bluemain);
  }

  .inputPublica:checked + .slider:before {
    background-color: var(--textMain);
  }

  .inputPublica:checked + .slider:before {
    -webkit-transform: translateX(1.3vw);
    -ms-transform: translateX(1.3vw);
    transform: translateX(1.3vw);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 1.7vw;
  }

  .slider.round:before {
    border-radius: 50%;
  }