<app-header></app-header>

<main class="contenedor">
    <div class="campaings">
        <div class="titulo">
            Seleccionar Campaña
        </div>
        <div class="campaingItem">
            Campaña 1
        </div>
        <div class="campaingItem">
            Campaña 2
        </div>
        <div class="campaingItem">
            Campaña 3
        </div>
        <div class="campaingItem">
            Campaña 4
        </div>
        <button (click)="modalCrear(veloModalCrear, true)" class="crear">Crear</button>
    </div>
    <div class="resumen">
        <div class="titulo">
            Resumen de la campaña
        </div>
        <div class="resumenCuerpo">
            Resumen de la campaña
        </div>
    </div>
    <button class="volver">Volver</button>
</main>

<div #veloModalCrear class="veloModalCrear">
    <div class="modalCrear">
        <div class="modalResumen">
            <button (click)="modalCrear(veloModalCrear, false)" class="closeModal">
                <i class="fa-solid fa-square-xmark closeModal"></i>
            </button>
        </div>
        <div class="modalOpciones">
            <div class="divSwitch">
                <span class="textSwitch">Pública</span>
                <label class="switch">
                    <input class="inputPublica" type="checkbox" checked>
                    <span class="slider round"></span>
                </label>
                <span class="textSwitch">Privada</span>
            </div>
            <select class="selectPlayers">
                <option selected value="">Número de jugadores</option>
                <option value="1">1 Jugador</option>
                <option value="2">2 Jugadores</option>
                <option value="3">3 Jugadores</option>
                <option value="4">4 Jugadores</option>
                <option value="5">5 Jugadores</option>
                <option value="6">6 Jugadores</option>
            </select>
            <button class="iniciar">Iniciar campaña</button>
        </div>
    </div>
</div>