<app-header></app-header>

<main class="contenedor">
    <div class="campaings">
        <div class="titulo">
            Seleccionar Campaña
        </div>
        <div tabindex="0"
             (click)="selectCampaignPre(campaignPre)"
             *ngFor="let campaignPre of allCampaignsPre"
             class="campaingItem">
            {{campaignPre.campaignName}}
        </div>
        <button (click)="modalCrear(veloModalCrear, true)"
                [ngClass]="(selectedCampaignPre.idCampaignPre == undefined) ? 'crear_disabled' : 'crear'"
                [disabled]="selectedCampaignPre.idCampaignPre == undefined">
            Crear
        </button>
    </div>
    <div class="resumen">
        <div class="titulo">
            Resumen de la campaña
        </div>
        <div #resumenCuerpo class="resumenCuerpo">
            <p>{{selectedCampaignPre.synopsis}}</p>
        </div>
    </div>
    <button routerLink="/campaing" class="volver">Volver</button>
</main>

<div #veloModalCrear class="veloModalCrear">
    <div class="modalOpciones">
        <button (click)="modalCrear(veloModalCrear, false, inputNombre, selectPlayers)" class="closeModal">
            <i class="fa-solid fa-square-xmark closeModal"></i>
        </button>
        <div class="divSwitch">
            <span class="textSwitch">Privada</span>
            <label class="switch">
                <input #checkPublica class="inputPublica" type="checkbox">
                <span class="slider round"></span>
            </label>
            <span class="textSwitch">Pública</span>
        </div>
        <input #inputNombre autofocus type="text" class="inputNombre" placeholder="*Nombre de campaña">
        <select #selectPlayers class="selectPlayers">
            <option selected value="">*Número de jugadores</option>
            <option *ngFor="let jugadores of rangoJugadores" [value]="jugadores">{{jugadores}} Jugadores</option>
        </select>
        <span #error class="error" style="visibility: hidden;">Obligatorio todos los datos</span>
        <button (click)="crearCampaign(checkPublica.checked, inputNombre.value, selectPlayers.value, error)" class="crearCampaign">Crear campaña</button>
    </div>
</div>