<main>
  <article #modal id="modal">
    <div class="codeModal">
      <label for="code">Introduce el código de la sala</label>
      <input type="text" />
      <button class="modalButton">Unirse</button>
      <button (click)="closeModal(modal)" class="closeModal">
        <i class="fa-solid fa-square-xmark"></i>
      </button>
    </div>
  </article>
  <div class="background_filter"></div>
  <span class="upbar">
    <button class="btn_create">Crear campaña</button>
    <div>
      <button class="filtrar">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
      <input type="text" placeholder="Filtrar" />
    </div>
  </span>
  <article class="campaing_list">
    <span class="header_list">
      <div><p>Nombre</p></div>
      <div><p>Campaña</p></div>
      <div><p>Jugadores</p></div>
    </span>
    <span class="campaings_items">
      <div>
        <p>Friendly kill goblins</p>
      </div>
      <div>
        <p>La espada del destino</p>
      </div>
      <div>
        <p>3/6</p>
      </div>
    </span>
    <span class="campaings_items">
      <div>
        <p>Friendly kill goblins</p>
      </div>
      <div>
        <p>La espada del destino</p>
      </div>
      <div>
        <p>3/6</p>
      </div> </span
    ><span class="campaings_items">
      <div>
        <p>Friendly kill goblins</p>
      </div>
      <div>
        <p>La espada del destino</p>
      </div>
      <div>
        <p>3/6</p>
      </div> </span
    ><span class="campaings_items">
      <div>
        <p>Friendly kill goblins</p>
      </div>
      <div>
        <p>La espada del destino</p>
      </div>
      <div>
        <p>3/6</p>
      </div> </span
    ><span class="campaings_items">
      <div>
        <p>Friendly kill goblins</p>
      </div>
      <div>
        <p>La espada del destino</p>
      </div>
      <div>
        <p>3/6</p>
      </div>
    </span>
    <span class="campaings_items">
      <div>
        <p>Friendly kill goblins</p>
      </div>
      <div>
        <p>La espada del destino</p>
      </div>
      <div>
        <p>3/6</p>
      </div>
    </span>
    <span class="campaings_items">
      <div>
        <p>Friendly kill goblins</p>
      </div>
      <div>
        <p>La espada del destino</p>
      </div>
      <div>
        <p>3/6</p>
      </div>
    </span>
    <span class="campaings_items">
      <div>
        <p>Friendly kill goblins</p>
      </div>
      <div>
        <p>La espada del destino</p>
      </div>
      <div>
        <p>3/6</p>
      </div>
    </span>
    <span class="campaings_items">
      <div>
        <p>Friendly kill goblins</p>
      </div>
      <div>
        <p>La espada del destino</p>
      </div>
      <div>
        <p>3/6</p>
      </div>
    </span>
    <span class="campaings_items">
      <div>
        <p>Friendly kill goblins</p>
      </div>
      <div>
        <p>La espada del destino</p>
      </div>
      <div>
        <p>3/6</p>
      </div>
    </span>
  </article>
  <div class="code_container">
    <button (click)="openModal(modal)">Unirse con código</button>
  </div>
  <button class="join">JOIN</button>
</main>
