<app-header></app-header>
<main>
  <article #modal id="modal">
    <div class="codeModal">
      <label for="code">Introduce el código de la sala</label>
      <input #unirseCodigo (focus)="quitarError(idError)" (keyup.enter)="validarCodigoUnirse(unirseCodigo.value, idError)" type="text" />
      <p #idError class="id_error">Código de sala no encontrado</p>
      <button (click)="validarCodigoUnirse(unirseCodigo.value, idError)" class="modalButton">Unirse</button>
      <button (click)="closeModal(modal)" class="closeModal">
        <i class="fa-solid fa-square-xmark"></i>
      </button>
    </div>
  </article>
  <div class="background_filter"></div>
  <span class="upbar">
    <button routerLink="/campaingDetails" class="btn_create">Crear campaña</button>
    <div>
      <button class="filtrar">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
      <input type="text" placeholder="Filtrar" />
    </div>
  </span>
  <article class="campaing_list">
    <span class="header_list">
      <div>
        <p>Nombre</p>
      </div>
      <div>
        <p>Campaña</p>
      </div>
      <div>
        <p>Jugadores</p>
      </div>
    </span>
    <ng-container *ngFor="let campaign of allCampaigns">
      <span tabindex="0" *ngIf="campaign.public" (click)="selectCampaign(campaign)" class="campaings_items">
        <div>
          <p>{{campaign.campaignName}}</p>
        </div>
        <div>
          <p>{{campaign.campaignNamePre}}</p>
        </div>
        <div>
          <p>{{campaign.numPlayer}} - (entre {{campaign.playerMin}} y {{campaign.playerMax}})</p>
        </div>
      </span>
    </ng-container>
  </article>
  <div class="code_container">
    <button (click)="openModal(modal)">Unirse con código</button>
  </div>
  <button (click)="joinCampaign()" [ngClass]="(!selectedCampaign) ? 'join_disabled' : 'join'" [disabled]="!selectedCampaign">JOIN</button>
</main>