<app-header></app-header>

<main  class="contenedor">
    <div  class="login">
        <form>
            <div class="formContainer">
                <div class="input_container">
                    <input autofocus (keyup)="login(identificador,password,validate, $event.keyCode)" #identificador type="text" placeholder="Usuario o correo">
                    <input (keyup)="login(identificador,password,validate, $event.keyCode)" #password type="password" placeholder="Contraseña">
                    <div #validate class="validate">
                        <i class="fa-solid fa-circle-exclamation"></i> ¡Usuario o contraseña no válidos!
                    </div>
                </div>
                <div class="button_container">
                <a (click)="modalPass(veloModalPass, true)">¿Has olvidado la contraseña?</a>
                <button (click)="login(identificador,password,validate)" class="botonIniciar" type="button">Iniciar sesión</button>
                <a routerLink="">Volver al inicio</a>
                </div>
                
            </div>
        </form>
    </div>
</main>

<div #veloModalPass class="veloModalPass">
    <div class="modalPass">
        <button (click)="modalPass(veloModalPass, false, mail, verify)" class="closeModal">
            <i class="fa-solid fa-square-xmark closeModal"></i>
        </button>
        <input #mail (keyup.enter)="recuperarPass(mail,verify)" type="email" placeholder="Introduzca correo electrónico">
        <button (click)="recuperarPass(mail,verify)" class="botonSolPass">Solicitar nueva</button>
        <p>Si el correo existe recibirá una contraseña temporal</p>
    </div>
    <div #verify class="verify">Se ha enviado un correo a tu direccion con un pin temporal para acceder a tu cuenta</div>
</div>

<app-footer></app-footer>