<app-game-header></app-game-header>
<div>
    <div class="contenedor" >
        <div style="height: 100vh; width: 35%;">
            <div class="personaje">
                <app-character></app-character>
            </div>
        </div>
        <div style=" height: 100%; width: 65%;">
          <div class="mapa" >
              <app-mapa></app-mapa>
          </div>
          <div style="display:flex; border: 0.1rem solid var(--bluemain); height: 32vh;">
              <section class="chat">
                  <app-chat></app-chat>
              </section>
          </div>
      </div>
  </div>
</div>