* {
  overflow: visible;
}
.contenedor{
    height: 92vh; 
    width: 100%; 
    display: flex; 
    flex-direction: row;
}

.nombre{
    height: 6vh;
    background-color: var(--redmain);
    border: 0.1rem solid var(--bluemain);
    color: var(--beige);
    font-size: 1.5rem;
    text-align: center;
    -webkit-text-stroke: 0.5px black;  
}

.personaje{
    background-image: url(../../../assets/images/pergamine2.png);
    background-size: cover;
    height: 62vh;
    font-size: 1rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    /* overflow-y: scroll; */
}

/**ScrollBar specs**/
/* 
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f17a;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--bluemain);
    opacity: 0.7;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  } */

.mapa{
    height: 68vh;
    image-rendering: auto;
    display: flex;
    justify-content: center;
    background-color: var(--beige);
}

.mapa img {
  width: auto;
  height: 100%;
}

.chat {
  width: 100%;
  height: 23.7vh;
  /* border-right: 0.1rem solid var(--bluemain); */
}

.habilidades {
  height: 24vh;
}

.info {
  height: 25%;
  width: 100%;
  border: 1px solid black;
  background-color: var(--bluemain);
  display: flex;
  justify-content: center;
  align-items: center;
}

.info section select {
  width: 30vw;
  height: 4.5vh;
  font-size: 1.5rem;
  background-color: var(--redmain);
  color: var(--beige);
  -webkit-text-stroke: 0.5px black;
}

