<header class="nombre">
  <p>{{this.characterService.character.name}}</p>
</header>
<article *ngIf="dataIndex == 0" class="character_body">
  <div class="character_upper">
    <div class="stats">
      <div class="stat">
        <div id="name"><p>Fuerza</p></div>
        <p class="value">{{this.characterService.character.strengthMod | transformAtt}}</p>
        <div class="circle">{{this.characterService.character.strength}}</div>
      </div>
      <div class="stat">
        <div id="name"><p>Destreza</p></div>
        <p class="value">{{this.characterService.character.dexterityMod | transformAtt}}</p>
        <div class="circle">{{this.characterService.character.dexterity}}</div>
      </div>
      <div class="stat">
        <div id="name"><p>Constitución</p></div>
        <p class="value">{{this.characterService.character.constitutionMod | transformAtt}}</p>
        <div class="circle">{{this.characterService.character.constitution}}</div>
      </div>
      <div class="stat">
        <div id="name"><p>Inteligencia</p></div>
        <p class="value">{{this.characterService.character.inteligenceMod | transformAtt}}</p>
        <div class="circle">{{this.characterService.character.inteligence}}</div>
      </div>
      <div class="stat">
        <div id="name"><p>Sabiduría</p></div>
        <p class="value">{{this.characterService.character.wisdomMod | transformAtt}}</p>
        <div class="circle">{{this.characterService.character.wisdom}}</div>
      </div>
      <div class="stat">
        <div id="name"><p>Carisma</p></div>
        <p class="value">{{this.characterService.character.charismaMod | transformAtt}}</p>
        <div class="circle">{{this.characterService.character.charisma}}</div>
      </div>
    </div>
    <div class="contenedor_imagen">
      <img class="character_img" src={{this.characterService.character.image}} alt="" />
    </div>
  </div>
  <div class="character_below">
    <div class="statsAlt">
      <div class="stat2">
        <div id="name"><p>Iniciativa</p></div>
        <p class="value">{{this.characterService.character.initiative}}</p>
      </div>
      <div class="stat2">
        <div id="name"><p>Armadura</p></div>
        <p class="value">{{this.characterService.character.armor}}</p>
      </div>
      <div class="stat2">
        <div id="name"><p>Velocidad</p></div>
        <p class="value">{{this.characterService.character.speed}}</p>
      </div>
      <div class="vida_container">
        <label class="hp" for="vida">Hp:</label>
        <div #vida class="vida">
          <p>{{this.playerService.player.hitPoints}}</p>
        </div>
      </div>
    </div>

    <div class="salvacion_container">
      <div class="salvacion_title">Tiradas de salvación</div>
      <div class="salvacion_stat">
        <p>Fuerza</p>
        <p>{{this.characterService.character.strengthST | transformAtt}}</p>
      </div>
      <div class="salvacion_stat">
        <p>Destreza</p>
        <p>{{this.characterService.character.dexterityST | transformAtt}}</p>
      </div>
      <div class="salvacion_stat">
        <p>Constitución</p>
        <p>{{this.characterService.character.constitutionST | transformAtt}}</p>
      </div>
      <div class="salvacion_stat">
        <p>Inteligencia</p>
        <p>{{this.characterService.character.inteligenceST | transformAtt}}</p>
      </div>
      <div class="salvacion_stat">
        <p>Sabiduría</p>
        <p>{{this.characterService.character.wisdomST | transformAtt}}</p>
      </div>
      <div class="salvacion_stat">
        <p>Carisma</p>
        <p>{{this.characterService.character.charismaST | transformAtt}}</p>
      </div>
    </div>
  </div>
</article>
<app-habilidades *ngIf="dataIndex == 1" class="skills"></app-habilidades>
<app-spell-atacks *ngIf="dataIndex == 2"></app-spell-atacks>
<app-equipo *ngIf="dataIndex == 3"></app-equipo>
<div class="habilidades">
  <div (click)="showWeapons()" class="info">
      <section class="equipo">
        Equipo
      </section>
  </div>
  <div (click)="showSpell()" class="info"> 
      <section>  
        Ataques y Hechizos
      </section>
  </div>
  <div (click)="showSkills()" class="info">
      <section>
        Habilidades
      </section>
  </div>
  <div (click)="showCharacter()" class="info">
    <section>
    Personaje
    </section>
</div>
</div>
