<article class="character_body">
  <div class="character_upper">
    <div class="stats">
      <div class="stat">
        <div id="name"><p>Fuerza</p></div>
        <p class="value">{{this.character.fuerzaMod |transformAtt}}</p>
        <div class="circle">{{this.character.fuerza}}</div>
      </div>
      <div class="stat">
        <div id="name"><p>Destreza</p></div>
        <p class="value">{{this.character.destrezaMod |transformAtt}}</p>
        <div class="circle">{{this.character.destreza}}</div>
      </div>
      <div class="stat">
        <div id="name"><p>Constitución</p></div>
        <p class="value">{{this.character.constitucionMod |transformAtt}}</p>
        <div class="circle">{{this.character.constitucion}}</div>
      </div>
      <div class="stat">
        <div id="name"><p>Inteligencia</p></div>
        <p class="value">{{this.character.inteligenciaMod |transformAtt}}</p>
        <div class="circle">{{this.character.inteligencia}}</div>
      </div>
      <div class="stat">
        <div id="name"><p>Sabiduría</p></div>
        <p class="value">{{this.character.sabiduriaMod |transformAtt}}</p>
        <div class="circle">{{this.character.sabiduria}}</div>
      </div>
      <div class="stat">
        <div id="name"><p>Carisma</p></div>
        <p class="value">{{this.character.carismaMod |transformAtt}}</p>
        <div class="circle">{{this.character.carisma}}</div>
      </div>
    </div>
    <div class="contenedor_imagen">
      <img
        class="character_img"
        src={{this.character.imagen}}
        alt=""
      />
    </div>
  </div>
  <div class="character_below">
    <div class="statsAlt">
      <div class="stat2">
        <div id="name"><p>Iniciativa</p></div>
        <p class="value">{{this.character.iniciativa}}</p>
      </div>
      <div class="stat2">
        <div id="name"><p>Armadura</p></div>
        <p class="value">{{this.character.armadura}}</p>
      </div>
      <div class="stat2">
        <div id="name"><p>Velocidad</p></div>
        <p class="value">{{this.character.velocidad}}</p>
      </div>
      <div class="vida_container"><label class="hp" for="vida">Hp:</label> <div #vida class="vida"><p>{{this.lifePoints}}</p></div></div>
    </div>
    
    <div class="salvacion_container">
      <div class="salvacion_title">Tiradas de salvación</div>
      <div class="salvacion_stat">
        <p>Fuerza</p>
        <p>+5</p>
      </div>
      <div class="salvacion_stat">
        <p>Destreza</p>
        <p>-1</p>
      </div>
      <div class="salvacion_stat">
        <p>Constitución</p>
        <p>+4</p>
      </div>
      <div class="salvacion_stat">
        <p>Inteligencia</p>
        <p>+0</p>
      </div>
      <div class="salvacion_stat">
        <p>Sabiduría</p>
        <p>+1</p>
      </div>
      <div class="salvacion_stat">
        <p>Carisma</p>
        <p>+1</p>
      </div>
    </div>
  </div>
  <button (click)="hit(vida)"  class="test">Hit</button>
</article>
