<main class="landingBackground">
  <div class="a"></div>
  <div class="b"></div>
  <div class="c"></div>
  <div class="d"></div>
  <div class="title_container">
    <div class="titleParticleA"></div>
    <div class="titleParticleB"></div>
    <div class="titleParticleC"></div>
    <img src="../../../assets/images/dcLogoHome.png" alt="" />
  </div>
<div class="fireEffects"></div>
  <section class="button_container">
    <article class="btn_border">
      <button routerLink="/login" id="boton">Iniciar sesión</button>
    </article>
    <article class="btn_border">
      <button routerLink="/registro" id="boton">Registrarse</button>
    </article>
  </section>
</main>
