<div class="padre">
    <app-game-header></app-game-header>
    <div class="contenedor" >
        <div style="height: 100%; width: 35%;">
            <header class="titulo">
                <p>Titulo de la campaña</p>
            </header>
            <div class="campain">
                <iframe id="guia" src="../../../assets/guias/kobold.pdf#toolbar=0" scrolling="no"  frameborder="0"></iframe>
            </div>
            <div>
                <section class="fichas">
                    <section class="enemigos">
                        <label type="button" (click)="modalEnemigos(modalEnemy, true)" >Monstruos: </label>
                        <select #enemy  name="enemigos"> <!--Desplegable con los enemigos *-->
                            <option *ngFor="let enemigo of enemyCampaignPre; let i = index" [value]="i">{{enemigo.name}}</option> 
                         </select>
                    </section>
                    <section class="heroes" >
                        <label type="button" (click)="modalPersonaje(modalHero, true)"  >Personajes: </label>
                        <select #player name="personajes"> <!--Desplegable con los jugadores *-->
                            <option *ngFor="let player of characterCampaign; let j = index" [value]="j">{{player.name}}</option> 
                         </select>
                    </section>
                </section>
            </div>
            <div class="calculadora">
                <div class="superior">
                    <section class="defensor">
                        <label style="width: 5vw;">Defensor: &nbsp;</label>
                        <select name="personajes"  style="width: 9vw;">
                            <option value="1">personaje 1</option> 
                            <option value="2">personaje 2</option> 
                            <option value="3">personaje 3</option>
                            <option value="4">personaje 4</option> 
                            <option value="5">personaje 5</option> 
                            <option value="6">personaje 6</option> 
                         </select>
                    </section>
                    <section style="padding-top: 1.5rem; font-size: 1.5rem;">
                        <i class="fas fa-arrow-alt-circle-left"></i>
                    </section>
                    <section class="atacante">
                        <label style="width: 5vw;">Atacante: &nbsp;</label>
                        <select name="personajes"  style="width: 9vw;">
                            <option value="1">personaje 1</option> 
                            <option value="2">personaje 2</option> 
                            <option value="3">personaje 3</option>
                            <option value="4">personaje 4</option> 
                            <option value="5">personaje 5</option> 
                            <option value="6">personaje 6</option> 
                         </select>
                    </section>
                </div>
                <div class="inferiror">
                    <div class="valor">
                        <div>
                            <input type="text">
                        </div>
                        <button class="fantasy">
                            Calcular
                        </button>
                        <div>
                            <input type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style=" height: 100%; width: 65%;">
            <div class="mapa" >
                <app-mapa></app-mapa>
            </div>
            <div style="display:flex; border: 0.1rem solid var(--bluemain); height: 32vh;">
                <section class="chat">
                    <app-chat></app-chat>
                </section>
            </div>
        </div>
    </div>
</div>

<!-- Modal enemigos -->
<div #modalEnemy class="veloModal">
    <div class="enemyInfo">
        <div class="left">
            <div class="nombre">
                <label><b>{{enemyCampaignPre[index].name}} </b> <span>({{enemyCampaignPre[index].race}})</span></label> 
            </div>
            <div class="info">
                <ul>
                    <li><b>Clase de armadura: </b> {{enemyCampaignPre[index].armor}}</li>
                    <li><b>Puntos de golpe: </b> {{enemyCampaignPre[index].hitPoint}}</li>
                    <li><b>Velocidad: </b>{{enemyCampaignPre[index].speed}}</li>
                </ul>
            </div>
            <div class="atributos">
                <div>
                    <section>FUE:</section>
                    <section> {{enemyCampaignPre[index].strength}} ({{enemyCampaignPre[index].strengthMod}})</section>
                </div>
                <div>
                    <section>DES:</section>
                    <section> {{enemyCampaignPre[index].dexterity}} ({{enemyCampaignPre[index].dexterityMod}})</section>
                </div>
                <div>
                    <section>CON:</section>
                    <section> {{enemyCampaignPre[index].constitution}} ({{enemyCampaignPre[index].constitutionMod}})</section>
                </div>
                <div>
                    <section>INT:</section>
                    <section> {{enemyCampaignPre[index].inteligence}} ({{enemyCampaignPre[index].inteligenceMod}})</section>
                </div>
                <div>
                    <section>SAB:</section>
                    <section> {{enemyCampaignPre[index].wisdom}} ({{enemyCampaignPre[index].wisdomMod}})</section>
                </div>
                <div>
                    <section>CAR:</section>
                    <section> {{enemyCampaignPre[index].charisma}} ({{enemyCampaignPre[index].charismaMod}})</section>
                </div>
            </div>
            <div class="habilidades">
                <ul>
                    <li><b>Sentidos: </b> {{enemyCampaignPre[index].senses}}</li>
                    <li><b>Idiomas: </b> {{enemyCampaignPre[index].language}}</li>
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="conjuros">
                <ul>
                    <li *ngFor="let spell of spellEnemy"><b>{{spell.spellName}}:</b> {{spell.description}} &nbsp;
                        <b>Alcance: </b> {{spell.reach}} &nbsp;
                        <b>Tiempo de lanzamiento: </b> {{spell.timeSpell}}&nbsp;
                        <b>Duración: </b> {{spell.duration}}&nbsp;
                    </li>
                </ul>
            </div>
            <div class="acciones">
                <table>
                    <thead>
                        <tr>
                            <th style="width: 18%;">Nombre</th>
                            <th style="width: 18%;">Bonificador</th>
                            <th style="width: 18%;">Daño/Tipo</th>
                            <th style="width: 46%;"> Anotación</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let weapon of equipEnemy">
                        <tr>
                            <td>{{weapon.nameEquip}}</td>
                            <td>+ {{weapon.bonusEquip}}</td>
                            <td>{{weapon.damageType}}</td>
                            <td>{{weapon.anotacion}}</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            <button class="cerrarModal" type="button" (click)="modalEnemigos(modalEnemy, false)">Cerrar</button>
        </div>
    </div>
</div>

<!-- Modal personajes -->

<div #modalHero class="veloModal">
    <div class="enemyInfo">
        <div class="left">
            <div class="nombre">
                <label><b>{{characterCampaign[index2].name}} </b> <span>({{characterCampaign[index2].class}})</span></label> 
            </div>
            <div class="info">
                <ul>
                    <li><b>Clase de armadura: </b> {{characterCampaign[index2].armor}}</li>
                    <li><b>Iniciativa: </b> {{characterCampaign[index2].initiative}}</li>
                    <li><b>Velocidad: </b> {{characterCampaign[index2].speed}}</li>
                    <li><b>Dados de Golpe: </b> {{characterCampaign[index2].hitDice}}</li>
                    <li><b>Puntos de golpe máximos: </b> {{characterCampaign[index2].hitPoint}}</li>
                    <li><b>Puntos de golpe actuales: </b> 9</li>
                </ul>
            </div>
            <div class="atributos">
                <div>
                    <section>FUE:</section>
                    <section> {{characterCampaign[index2].strength}} ({{characterCampaign[index2].strengthMod}})</section>
                </div>
                <div>
                    <section>DES:</section>
                    <section> {{characterCampaign[index2].dexterity}} ({{characterCampaign[index2].dexterityMod}})</section>
                </div>
                <div>
                    <section>CON:</section>
                    <section> {{characterCampaign[index2].constitution}} ({{characterCampaign[index2].constitutionMod}})</section>
                </div>
                <div>
                    <section>INT:</section>
                    <section> {{characterCampaign[index2].inteligence}} ({{characterCampaign[index2].inteligenceMod}})</section>
                </div>
                <div>
                    <section>SAB:</section>
                    <section> {{characterCampaign[index2].wisdom}} ({{characterCampaign[index2].wisdomMod}})</section>
                </div>
                <div>
                    <section>CAR:</section>
                    <section> {{characterCampaign[index2].charisma}} ({{characterCampaign[index2].charismaMod}})</section>
                </div>
            </div>
            <div class="habilidades">
                <ul>
                    <li>
                        <b>Tiradas de salvacion: </b>
                        <select name="tSalvacion"  style="width: 9vw;">
                            <option value="0">Tiradas</option>
                            <option value="1">Fuerza: {{characterCampaign[index2].strengthST}}</option> 
                            <option value="2">Destreza: {{characterCampaign[index2].dexterityST}}</option> 
                            <option value="3">Constitución: {{characterCampaign[index2].constitutionST}}</option>
                            <option value="4">Inteligencia: {{characterCampaign[index2].inteligenceST}}</option> 
                            <option value="5">Sabiduria: {{characterCampaign[index2].wisdomST}}</option> 
                            <option value="6">Carisma: {{characterCampaign[index2].charismaST}}</option> 
                         </select>
                    </li>
                    <li><b>Habilidades: </b>
                        <select name="habilidades"  style="width: 9vw;">
                            <option value="0">Habilidades</option>
                            <option value="1">Acrobacias: {{characterCampaign[index2].acrobatic}} (Des)</option> 
                            <option value="2">Atletismo: {{characterCampaign[index2].athletics}} (Fue)</option> 
                            <option value="3">C. Arcano: {{characterCampaign[index2].arcana}} (Int)</option>
                            <option value="4">Engaño: {{characterCampaign[index2].deception}} (Car)</option> 
                            <option value="5">Historia: {{characterCampaign[index2].history}} (Int)</option> 
                            <option value="6">Interpretacion: {{characterCampaign[index2].performance}} (Car)</option>
                            <option value="7">Intimidación: {{characterCampaign[index2].intimidation}} (Car)</option>  
                            <option value="8">Investigación: {{characterCampaign[index2].investigation}}(Int)</option> 
                            <option value="9">Juego de Manos: {{characterCampaign[index2].sleightOfHand}} (Des)</option> 
                            <option value="10">Medicina: {{characterCampaign[index2].medicine}} (Sab)</option> 
                            <option value="11">Naturaleza: {{characterCampaign[index2].nature}} (Int)</option>
                            <option value="12">Percepción: {{characterCampaign[index2].persuasion}} (Sab)</option> 
                            <option value="13">Perpicacia: {{characterCampaign[index2].insight}} (Sab)</option> 
                            <option value="14">Persuasión: {{characterCampaign[index2].persuasion}} (Car)</option> 
                            <option value="15">Religión: {{characterCampaign[index2].religion}} (Int)</option> 
                            <option value="16">Sigilo: {{characterCampaign[index2].stealth}} (Des)</option> 
                            <option value="17">Supervivencia: {{characterCampaign[index2].survival}} (Sab)</option> 
                            <option value="18">T. con Animales: {{characterCampaign[index2].animalHandling}} (Sab)</option> 
                         </select> 
                    </li>
                    <li><b>Idiomas: </b> {{characterCampaign[index2].language}}</li>
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="conjuros">
                <ul>
                    <li><b>Ataque Furtivo.</b> Una vez por turno, cuando
                        impactes a una criatura con un ataque basado en
                        Destreza (como con tu espada corta y arco corto),
                        si tienes ventaja en la tirada de ataque, puedes
                        hacer 1d6 de daño extra al objetivo. No necesitas
                        tener ventaja si otro enemigo del objetivo, que no
                        esté incapacitado, se encuentra a 5 pies o menos
                        de él. Eso sí, no podrás provocar este daño extra si
                        tienes desventaja en la tirada de ataque.
                    </li>
                </ul>
            </div>
            <div class="acciones">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Bonificador</th>
                        <th>Daño/Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Espada corta</td>
                        <td>+5</td>
                        <td>1d6 + 3 perforante</td>
                    </tr>
                    <tr>
                        <td>Arco Corto</td>
                        <td>+5</td>
                        <td>1d6 +3 perforante</td>
                    </tr>
                </tbody>
            </table>
            </div>
            <button class="cerrarModal" type="button" (click)="modalPersonaje(modalHero, false)">Cerrar</button>
        </div>
    </div>
</div>