*{
    overflow: visible;
}

.contenedor{
    height: 92vh; 
    width: 100%; 
    display: flex; 
    flex-direction: row;
}

/* .menu{
    height: 7vh; 
    width: 100%; 
    background-color: var(--bluemain); 
    display: flex; 
    justify-content: space-between; 
    text-decoration: none;
    font-size: 1.5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    color: var(--beige);
} */

/* a:link, a:visited, a:active{
    text-decoration: none;
    color: var(--beige);
    padding-right: 0.8rem;
} */

.titulo{
    height: 6vh;
    background-color: var(--redmain);
    color: var(--beige);
    font-size: 1.5rem;
    text-align: center;
    
}

.campain{
    background-size: cover; 
    height: 62vh;
    font-size: 1rem;
    z-index: 1;
    display: flex;
   
    
}
#guia{
    width: 35vw;
    height: 100%;
}

/**ScrollBar specs**/
  
::-webkit-scrollbar-thumb {
    background: var(--bluemain);
    opacity: 0.7;
  }
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
    background: #f1f1f17a;
  }
  
::-webkit-scrollbar-thumb {
    background: var(--bluemain);
    opacity: 0.7;
  }
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  


.fichas{
    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap; 
    gap: 0.5rem; 
    padding: 0.6rem; 
    background-color: var(--redmain);
}

.fichas button{
    width: 0.5rem;
    height: 0.5rem;
}

.fichas section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.fichas section label{
    width: auto;
    height: 4.5vh;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    text-align: center;
    color: var(--beige);
    font-size: 1rem;
    border: 0.2rem solid var(--bluemain);
    border-radius: 0.2rem;
}

.fichas section label:hover{
    background-color: rgba(128, 128, 128, 0.349);
}

.fichas section select{
    width: 9vw;
}

.mapa{
    height: 68vh;
    display: flex;
    justify-content: center;
    background-color: var(--beige);
}



.chat{
    width: 100%; 
    height: 23.7vh;
    /* border-right: 0.1rem solid var(--bluemain); */
}

.calculadora{
    background-color: var(--bluemain);
    height: 24vh;
}

.superior{ 
    height: 35%; 
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    text-align: center; 
    align-content: flex-start;
    gap: 1rem;
    color: var(--beige);
    font-size: 1rem;
    padding-top: 0.1rem;
    padding-bottom: 0.5rem;
}

.superior section{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    text-align: center; 
    align-items: center;
    padding-bottom: 0;
}

.inferior{
    display: flex;
    justify-content: space-around;
}

.valor{
    display: flex; 
    justify-content: center; 
    gap: 1rem; 
    flex-wrap: wrap; 
    align-content: center; 
    padding-top: 0.5rem;
}

.valor input{
    background-color: var(--beige); 
    width: 6rem; 
    height: 1.5rem; 
    box-shadow: inset -0.2rem -0.2rem rgba(128, 128, 128, 0.342);
    border-radius: 0.5rem;
    text-align: center;
}

.valorButton {
    cursor: pointer;
    text-align: center;
    width: auto;
    height: 1.5rem;
    font-size: 1rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    color: var(--textMain);
    background-color: var(--redmain);
    border-radius: 0.8vh;
    border-style: none;
    -webkit-text-stroke: 0.05rem black;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.valorButtonDisable {
    cursor: pointer;
    text-align: center;
    width: auto;
    height: 1.5rem;
    font-size: 1rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    color: var(--textMain);
    background-color: var(--redmain);
    border-radius: 0.8vh;
    border-style: none;
    -webkit-text-stroke: 0.05rem black;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    opacity: .7;
}

.valorButton:hover{
    box-shadow: 0 0 10px lightyellow;
}

/* Comentado por Ander por traslado a chat component */
/* .players{
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-content: center;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    font-size: 1rem;
    gap: 0.2rem;
    height: 23.7vh;
    width: 20%;
}

.players div{
    box-shadow: #555 0.1rem 0.1rem;
    display: flex;
    padding-left: 0.3rem;
    justify-content: start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 90%;
    height: 5vh;
    border-radius: 0 1rem 1rem 0;
    border: 0.1rem solid var(--bluemain);
} */

.veloModal {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.enemyInfo{
    position: absolute;
    width: 50vw;
    height: auto;
    max-width: 70vw;
    max-height: 80vh;
    z-index: 1;
    background-image: url(../../../assets/images/pergamine2.png);
    background-size: cover;
    border: 0.2rem solid var(--bluemain);
    overflow: scroll;
    /* font-size: 1rem; */
}

.enemyInfo b{
    letter-spacing: 2px;
    color: var(--redmain);
    stroke: var(--bluemain);
}

.enemyInfo ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.enemyInfo .nombre{
    font-size: 1.2rem;
    height: 5vh;
    margin: 0;
    border-width: 0 0 3px 0;
    padding-bottom: 0%;
    padding-top: 0%;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    border-style: solid;
    border-image: linear-gradient(to right, var(--redmain), var(--bluemain)) 1;
}

.enemyInfo .nombre label{
    width: 100%;
    font-size: 1rem;
    margin-bottom: 0;
}
.enemyInfo .nombre span{
    font-size: 0.9rem;
    margin-top: 0;
}

.info{
    font-size: 0.9rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    border-width: 0 0 3px 0;
    border-style: solid;
    border-image: linear-gradient(to right, var(--redmain), var(--bluemain)) 1;
}

.atributos{
    display: flex;
    font-size: 0.9rem;
    flex-wrap: wrap;
    justify-content: space-around;
    border-width: 0 0 3px 0;
    border-style: solid;
    border-image: linear-gradient(to right, var(--redmain), var(--bluemain)) 1;
}

.atributos div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.habilidades{
    font-size: 0.9rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    border-width: 0 0 3px 0;
    border-style: solid;
    border-image: linear-gradient(to right, var(--redmain), var(--bluemain)) 1;
}

.conjuros{
    font-size: 0.9rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    border-width: 0 0 3px 0;
    border-style: solid;
    border-image: linear-gradient(to right, var(--redmain), var(--bluemain)) 1;
}

.acciones{
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    border-width: 0 0 3px 0;
    border-style: solid;
    border-image: linear-gradient(to right, var(--redmain), var(--bluemain)) 1;
}

.acciones table tr td{
    border: 3px solid transparent;
}
.cerrarModal{
    cursor: pointer;
    margin: 0.5rem;
    text-align: center;
    width: auto;
    height: 1.5rem;
    font-size: 1rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    color: var(--textMain);
    background-color: var(--redmain);
    border-radius: 0.8vh;
    border-style: none;
    -webkit-text-stroke: 0.05rem black;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.cerrarModal:hover{
    box-shadow: 0 0 10px lightyellow;
}


@media all and (max-width: 1280px) {
    #guia {
        zoom: 1;
    }
  }

@media all and (min-width:1281px) and (max-width: 1920px) {
    #guia {
        zoom: 1.5;   
    }
  } 
 
@media all and (min-width:1921px) and (min-width:3840px) {
    #guia{
       zoom: 3
    }
  }