<app-header></app-header>
<main class="container_main">
  <div class="outer_circle">
    <div class="inner_circle">
      <img class="logo" src="../../../assets/images/dcLogoCreditos.png" alt="logo">
    </div>
  </div>
  <article class="miembros">
    <section class="info">
      <figure class='img_container'>
        <img class="img" src="../../../assets/images/anderMordor.jpg" alt="">
      </figure>
      <div class="description">
        <span class="title"><h3>Ander Jurado |</h3> <h5> Full-Stack Developer</h5></span>
        <div class="frase">Técnico de sistemas con más de 30 años de experiencia en el sector de la informática.</div> 
        <div class="enlaces"><a href="#"><i class="fab fa-github"></i></a><a href="#"><i class="fab fa-linkedin"></i></a></div>
      </div>
    </section>
    <section class="info">
      <figure class='img_container'>
        <img class="img" src="../../../assets/images/josetrono.jpg" alt="">
      </figure>
      <div class="description">
        <span class="title"><h3>José Silva |</h3> <h5> Full-Stack Developer</h5></span>
        <div class="frase">Técnico de sistemas microinformáticos con 10 años de experiencia en el sector.</div> 
        <div class="enlaces"><a href="https://github.com/s0je"><i class="fab fa-github"></i></a><a href="https://www.linkedin.com/in/jos%C3%A9-silva-santaagueda-3a6a25127/"><i class="fab fa-linkedin"></i></a></div>
      </div>
    </section>
    <section class="info">
      <figure class='img_container'>
        <img class="img" src="../../../assets/images/pascualElfos.jpg" alt="">
      </figure>
      <div class="description">
        <span class="title"><h3>Pascual Vera |</h3> <h5> Full-Stack Developer</h5></span>
        <div class="frase">Desarrollador enfocado al frontend con conocimientos de CSS avanzados</div> 
        <div class="enlaces"><a href="https://github.com/PascualVera"><i class="fab fa-github"></i></a><a href="https://www.linkedin.com/in/pascual-vera-herrera-125141167/"><i class="fab fa-linkedin"></i></a></div>
      </div>
    </section>
  </article>
</main>
