<app-header></app-header>
<main class="container_main">
  <div class="outer_circle">
    <div class="inner_circle">
      <img class="logo" src="../../../assets/images/dcLogoCreditos.png" alt="logo">
    </div>
  </div>
  <article class="miembros">
    <section class="info">
      <figure class='img_container'>
      </figure>
      <div class="description">
        <h3>José Silva</h3>
        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos, dignissimos commodi ab minima hic corporis!</span> 
        <div class="enlaces"><a href=""><i class="fab fa-github"></i></a><a href=""><i class="fab fa-linkedin"></i></a></div>
      </div>
    </section>
    <section class="info">
      <figure class='img_container'></figure>
      <div class="description">
        <h3>José Silva</h3>
        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos, dignissimos commodi ab minima hic corporis!</span> 
        <div class="enlaces"><a href=""><i class="fab fa-github"></i></a><a href=""><i class="fab fa-linkedin"></i></a></div>
      </div>
    </section>
    <section class="info">
      <figure class='img_container'></figure>
      <div class="description">
        <h3>José Silva</h3>
        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos, dignissimos commodi ab minima hic corporis!</span> 
        <div class="enlaces"><a href=""><i class="fab fa-github"></i></a><a href=""><i class="fab fa-linkedin"></i></a></div>
      </div>
    </section>
  </article>
</main>
