*{
  overflow: visible;
}
.container_main{
  width: 100vw;
  height: 90vh;
  background: rgb(163,76,80);
  background: linear-gradient(90deg, rgba(163,76,80,1) 8%, rgba(107,76,86,1) 48%, rgba(77,76,89,1) 64%, rgba(38,76,94,1) 76%);
  position: relative;
  display: block;
}
.miembros{
  display: flex;
  width: 100%;
  height: 90vh;
  align-items: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.500);
  justify-content: center;
  gap: 6vh;
}
.title{
  display: flex;
  height: fit-content;
  align-items: baseline;
  gap: 1vh;
  width: 100%;
}


.info{
  width: 25vw;
  height: 70vh;
  background: grey;
  background: linear-gradient(
    55deg,
    rgba(35, 35, 35) 47%,
    rgb(44, 44, 44) 53%
  );
  z-index: 1;
  border-radius: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.img_container{
  width: 70%;
  height: 20vw;
  z-index: 2;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-top: 1vh;
  border-radius: 1vh;
}
.img{
 width: 100%;
 object-fit: cover; 
}

.description{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 35vh;
  padding: 0 3vh 0 3vh ;
  color: white;
  font-size: 1.2rem;
}
.frase{
  width: 100%;
  height: 15vh;
}

.enlaces{
  display: flex;
  width: 100%;
  font-size: 1.8rem;
  align-items: center;
  justify-content: flex-end;
  gap: 2vh;
  margin-top: auto;
  margin-bottom: 1vh;
}
.enlaces a:first-child{
  color: white;
  filter: brightness(0.7); 
}
.enlaces a:first-child:hover{
  filter: brightness(1.2);
}
.enlaces a:nth-child(2){
  color: #0e76a8
}

a:hover{
  filter: brightness(1.2);
}
.outer_circle{
  position: absolute;
  top:0;
  bottom: 0;
  right: 5vw;
  margin: auto;
  width: 32vw;
  height: 32vw;
  background-color: var(--beige);
  border-radius: 50%;
  box-shadow:0px 0px 10vh 10px var(--bluemain) inset;
  filter: brightness(1.4);
  opacity: 0.1;

}
.inner_circle{
  position: absolute;
  top: 0;
  right: -0.4vh;
  bottom: 0;
  margin: auto;
  width: 30vw;
  height: 30vw;
  background-color: #13262F;
  border-radius: 100%;
  filter: brightness(0.71);
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  width: 32vw;
  height: auto;
  opacity: 0.8;
  object-fit: contain;
}

/***********ScrollBar specs*********/

::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-track {
  background: #f1f1f17a;
}

::-webkit-scrollbar-thumb {
  background: var(--redmain);
  opacity: 0.7;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}