* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow: hidden;
  outline: none;
  
}
:root {
  /*mainColors*/
  --bluemain: #264c5e;
  --bluemainT: #264c5e7f;
  --redmain: #a34c50;
  --redmainT: #a34c507f;
  --beige: #cec2ae;
  --auxiliarRed: #e8443c;
  /*characterColors*/
  --barbarian: #e7623e;
  --warrior: #7f513e;
  --wizard: #2a50a1;
  --ranger: #507f62;
  --cleric: #91a1b2;
  --rogue: #555752;
  /*textColors*/
  --textMain: white;
  /*inputsColors*/
  --inputBg: #744954;
  --placeHolder: lightgray;
}

@font-face {
  font-family: "dwarf";
  src: url("../src/assets/fonts/DwarvenAxe.ttf");
}

@font-face {
  font-family: "dungeon";
  src: url("../src/assets/fonts/DUNGRG__.TTF");
}

@font-face {
  font-family: "fable";
  src: url("../src/assets/fonts/Fable_W01_Smooth.ttf");
}

* {
  font-family: "dwarf";
}

@media screen and (min-width: 1920px) {
  html {
    font-size: 24px;
  }
}

@media screen and (min-width: 3840px) {
  html {
    font-size: 48px;
  }
}
html {
  font-family: "dwarf";
}
